*{
    box-sizing: border-box;
    margin: 0;
}

html,body{
    padding: 0;
    margin: 0;
}
    
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Roboto:wght@300&display=swap');
   
h1,h2,h3{
    font-family: 'Libre Baskerville', serif;
}

p, .hobby-right li, .work-left li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 2;
    font-weight:400;
    text-align: center;
    color:rgb(201, 228, 201);
}

hr{
    
    width: 95%;
    height: 0;
    margin: auto;
    box-shadow: 2px 2px 8px  rgba(130, 44, 187, 0.5) ;
}
       
  
    /******** HOME START *****************/
#home{
    width: 100%;
    height: 100vh;
    background: rgb(22, 21, 21);
}
     
.header-nav{
    padding: 20px 30px 0px 30px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    
}

.logo{
    width: 70px;
    height: 10vh;
    cursor: pointer; 
}

.header-nav ul{
    
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-nav ul li{
    padding: 8px 15px;
}

.header-nav ul li:hover{
    transition: all 0.50s;
    transform: scale(1.1);
}

.header-nav ul li a:hover{
    border-top: 3px solid #f72585;
    border-bottom: 3px solid #f72585;
    
}

.header-nav ul li a:active{
    color: rgb(106, 175, 106);
}

.header-nav ul li a{
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    color: #f72585;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
} 

#home main{
    width: 100%;
    height: 90vh;
    display: flex; 

}

#home main .titles{
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: focus 3s ease-in ; 
    
}

@keyframes focus{
    0%{transform: scale(0);}
    50%{transform: scale(1);}
}
    
#home main .home-img{
    width: 50%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
    
#home main .home-img img{
    filter: drop-shadow(-4px 1px 100px  rgb(49, 49, 23));
}

#home main h1{
    text-transform: capitalize;
    font-size: 3.25rem;
    color: #f72585;
    text-shadow: 1px 1px 2px;
    margin-top:-80px;
    text-align: center;
}
    
#home main h2{
    text-transform: capitalize;
    font-size:2rem;
    color:rgb(217, 243, 73);
    margin:30px 0px;
}

#home main h3{
    text-transform: capitalize;
    color:rgb(217, 243, 73);
   
}
/************** HOME END *****************/


/************** ABOUT START******************/
    /**** container-profile start ******/
  
#about{
    width: 100%;
    background-image: url(image/black-bg.jpg);
    background-size:cover;
    position: relative;
}
          
#about .container-profile{
    width: 100%;
    padding: 8px 137px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
}
       
#about .profile{
    width: 20%;
    height: 200px;
    box-shadow: 1px 1px 3px 2px rgba(117, 109, 109, 0.27)  ;
    background-color: rgb(20, 17, 17);
    border-radius: 50% ;
    margin-bottom: 18px;
    overflow: hidden;
    position: relative;
    
}

#about .profile img{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 12px;
} 
/*********** container-profile end ************/

/************* education start *****************/
#about main .container-education{
    padding: 30px 134px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about main .education-title h2, .skill-title h2, .hobby-title h2, .work-title h2{
    text-transform:uppercase;
    color:#f72585;
    font-weight: 600;
    font-size: 2.25rem;
    text-shadow: 2px 2px 5px rgb(98, 121, 45);
    
}  

#about main .education-content{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px ;
    
}
      
#about main .education-left{
    width: 40%;
    display: flex;
    align-items: center;
}  
   
#about main .education-left img{
    width: 90%;
    height: 300px;
}

#about main .education-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}   

#about main .education-right p{
    padding: 5px 0;
    text-align: justify;
    
}
/******************* education end *****************/

/********************* skills start ****************/

#about main .container-skill{
    padding: 30px 134px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
#about main .skill-content{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px ;
}
    
#about main .skill-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-right:10px;
}

    
.skill-left .rowing, .pilates, .swimming, .basketball, .handmade, .violin, .HTML, .CSS, .FİREWORKS{
    display: flex;
    justify-content: space-between;
    padding-bottom:5px ;
    font-family: 'Roboto', sans-serif;
}

.skill-left .adobe-xd, .SPSS, .publisher, .ofis-programs{
    display: flex;
    justify-content: space-between;
    padding-bottom:5px ;
    font-family: 'Roboto', sans-serif;
}

.skill-left button{
    width: 100%;
    height: 15px;
    border-radius: 25px;
    border-style: none;
    margin-bottom: 10px;
    padding-bottom: 7px;
    position: relative;
    overflow: hidden;
}
    
.skill-left .btn{
    position: absolute;
    top: 0;
    background-color: whitesmoke;
    width:100%;
    height: 100%;
    animation: btn 4s 5s infinite ease-in-out ;
}

@keyframes btn{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(100%);
    }
}
    
.skill-left .btn-90{
    position: absolute;
    top: 0;
    background-color: whitesmoke;
    width:100%;
    height: 100%;
    animation: btn-90 4s 5s infinite ease-in-out ;
}

@keyframes btn-90{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(90%);
    }
}

.skill-left .btn-70{
    position: absolute;
    top: 0;
    background-color: whitesmoke;
    width:100%;
    height: 100%;
    animation: btn-70 4s 5s infinite ease-in-out ;
}


@keyframes btn-70{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(70%);
    }
}

.skill-left .btn-50{
    position: absolute;
    top: 0;
    background-color: whitesmoke;
    width:100%;
    height: 100%;
    animation: btn-50 4s 5s infinite ease-in-out ;
}
    

@keyframes btn-50{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(50%);
    }
}

.skill-left .btn-80{
    position: absolute;
    top: 0;
    background-color: whitesmoke;
    width:100%;
    height: 100%;
    animation: btn-80 4s 5s infinite ease-in-out ;
}
    
@keyframes btn-80{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(80%);
    }
}

.skill-left .rowing div{
    color: rgb(69, 169, 199);
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-rowing{
    background-color: rgb(68, 192, 230);
}

.skill-left .pilates div{
    color: green;
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-pilates{
    background-color: green;
}

.skill-left .swimming div{
    color: rgb(35, 61, 212);
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-swimming{
    background-color:rgb(35, 61, 212);
}
    
.skill-left .basketball div{
    color: orangered;
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-basketball{
    background-color: orangered;
}
    
.skill-left .handmade div{
    color: rgb(235, 99, 121);
    font-weight: 600;
    text-transform: capitalize;
}
    
.skill-left .btn-handmade{
    background-color: rgb(235, 99, 121);
}
    
.skill-left .violin div{
    color: rgb(112, 63, 63);
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-violin{
    background-color: rgb(112, 63, 63);
}
    
.skill-left .HTML div{
    color: red;
    font-weight: 600;
    text-transform: capitalize;
}
    
.skill-left .btn-html{
    background-color: red;
}
    
.skill-left .CSS div{
    color: rgb(32, 103, 124);
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-css{
    background-color: rgb(32, 103, 124);
}
    
.skill-left .FİREWORKS div{
    color: orange;
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-fireworks{
    background-color: orange;
}
    
.skill-left .adobe-xd div{
    color:rgb(156, 57, 46);
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-adobe{
    background-color: rgb(156, 57, 46);
}
    
.skill-left .SPSS div{
    color:#B983FF;
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-spss{
    background:linear-gradient(#B983FF, #94B3FD);
}
.skill-left .publisher div{
    color:#669924;
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-publisher{
    background:#669924;
}
.skill-left .ofis-programs div{
    color:rgb(16, 243, 243);
    font-weight: 600;
    text-transform: capitalize;
}

.skill-left .btn-ofis{
    background:rgb(16, 243, 243);
}
    
#about main .skill-righ img{
    width: 100%;
    height: 100px;
}
    
#about main .skill-right{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2%;
}
/* ****************skills end ********************/

/****************** my hobby start ****************/

#about main .container-hobby{
    padding: 30px 134px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about main .hobby-content{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}
    
#about main .hobby-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
   
#about main .hobby-left img{
    width: 70%;
    height: 300px;
}
    
#about main .hobby-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  20px;
}
    
#about main .hobby-right li{
    padding: 4px 6px;
    text-align: justify;
    
}
#about main .hobby-right li::marker{
    align-items: center;
    content: "⚜";
    color: #669924;
    padding-right: 5px;
}
    
/***************** my hobby end *******************/   
    
/* ***************work start ************************/
#about main .container-work{
    padding: 30px 134px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
#about main .work-content{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    
}

#about main .work-left{
width: 50%;
display: flex;
align-items: center;
padding: 20px;
}

#about main .work-left li{
    padding: 4px 6px;
    text-transform: capitalize;
    text-align: justify;
}

#about main .work-left li::marker{
    align-items: center;
    content: "⚜";
    color: #669924;
    padding-right: 5px;
    
}

   
#about main .work-right{
    width: 50%;
    height: 400px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

#about main .work-right .img-pilates{
    
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-100px, -110px);
    z-index: 50;
}
    
#about main .work-right .img-whistle{
    width: 75px;
    height: 100px;
    position: absolute;
    z-index: 1;
    transform:translate(-95px, 90px ) ;
}
    
#about main .work-right .img-ball{
    width: 80px;
    height: 100px;
    position: absolute;
    z-index: 5;
    transform: translate(90px, 80px);
}
    
#about main .work-right .img-rowing{
    width: 150px;
    height: 120px;
    position: absolute;
    z-index: 40;
    transform: translate(90px, -125px) rotate(18deg);
}
    

#about main .work-right .img-work{
    width: 250px;
    height: 300px;
    border:6px solid salmon ;
    border-radius: 50%;
    padding: 60px;
    position: absolute;
}

.container-cv button {
    width: 200px;
    height: 46px;
    border-style: none;
    border-radius: 30px 100px ;
    background:linear-gradient(#e66465, #9198e5);
    display: flex;
    align-items: center;
    justify-content:center ;
    cursor: pointer;
    
}

.container-cv button a{
    color:whitesmoke;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
       
.container-cv button .fa{
    font-size: 20px;
    color: white;
    margin-right: 10px;
    padding-left: 5px;
}
    
/************************** work end *****************/
    
/* footer start */
footer{
    padding-top: 20px;
    width: 100%;
    height: 175px;
    background-color:#db2e7c;
    border-top: 1px solid #B983FF;
    box-shadow:1px 1px 3px #691f9b;
    position: relative;
    bottom: 0px;
}
    
#footer-bottom{
    display: flex;
    justify-content: center;
    align-items:center ;
}
    
.footer-nav{
    width: 50%;
    text-align: center;
}

#footer-bottom ul{
    list-style: none;
    padding: 0;
}

#footer-bottom  li a{
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    line-height: 1.75;
    font-weight:600;
    text-align: center;
    color: #859cb4;
    text-decoration: none;
}

#footer-bottom li a:hover{
    color: whitesmoke;
    transition: all 0.5s;
}    
    

.social-nav{
    width: 50%;
    text-align: center;
    
}

.social-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}  
    
.social-nav ul li{
    margin-left:20px ;
    transition: all 1s ;
}
    
.social-nav ul li:hover{
    transform: scale(1.2);
}

.registration{
    font-family: 'Roboto', sans-serif;
    font-size:0.75rem;
    line-height: 1.5;
    font-weight:600;
    text-align: center;
    color: whitesmoke;
}

/* footer end */

/***************   PROJECT-START  **********************/

#project{
    width: 100%;
    background-image: url(image/black-bg.jpg);
    background-size: cover;
}

#project main{
    width: 100%;
    padding: 40px 134px;
}

#project main h2{
    text-transform:uppercase;
    color:#f72585;
    font-weight: 600;
    font-size: 2.25rem;
    text-shadow: 2px 2px 5px rgb(98, 121, 45);
    text-align: center;
    
}

.container-project{
    padding: 40px 0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    
}       
    
div .box{
    width: 300px;
    height: 400px;
    border: 3px solid #669924;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 5px #859cb4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;  
}

.box:hover{
    transition: all 1s ;
    transform: scale(1.1);
}

.fa-eye{
    padding: 15px;
    font-size: 30px;
    color: #669924;
}

/***************   PROJECT-END  **********************/


/* ************CONTACAT START*****************/

#contact{
    width: 100%;
    height: 245vh;
    background-image: url(image/black-bg.jpg);
    background-size:cover;
    position: relative;
}
    
#contact .container-contact{
    width: 100%;
    padding: 12px 137px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
#contact  h2 {
    color:rgb(217, 243, 73);
    text-transform: uppercase;
    padding: 30px 0px 20px 0px;
    text-align: center;

}

#contact .contact-item{
    width: 400px;
    height: 200px;
    text-align: center;
    padding: 30px 60px;
}
   
#contact .contact-item a, address{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 2;
    font-weight:400;
    text-align: center;
    color:rgb(201, 228, 201);
    text-decoration: none;
}
   
   
.contact-form{
    width: 80%;
   padding:  30px 134px;
   margin: auto;
}   
.contact-form form div{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}   

.contact-form form div label{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    line-height: 2;
    font-weight:400;
    text-align: center;
    color:rgb(201, 228, 201);
    padding-bottom: 2px;
    text-transform: capitalize;
       
}  

.contact-form form div input{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(209, 203, 203);
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
    color: #f72585;
    font-weight: 400;padding: 0 30px;
}  
  
.contact-form form div textarea{
    border-radius: 30px;
    background-color: rgb(209, 203, 203);
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
    color: #f72585;
    font-weight: 600;
    padding: 10px 30px;
}  
    
    
.contact-form form div .submit{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    margin-top: 20px;
    background-color:#f72585;
    border-style: none;
    color:rgb(201, 228, 201); 
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
   
}  

.contact-form form div .submit:hover{
    animation: shake 0.5s infinite linear ;
}
@keyframes shake{
    0%{}
    100%{
    transform:skewX(5deg) 
    }
}
    
.contact-form form div .submit:active{
    background-color: rgb(209, 203, 203);
    color: #f72585;
    animation: rotate 0.25s  linear ;

}
@keyframes rotate{
    0%{}
    100%{
        transform:rotateY(-360deg);
    }
}

#contact footer{
    position: absolute; 
    bottom: 0;

}

/***************   CONTACT-END  **********************/

  
    


    


    

    


    
   


    
    

 


    


    
    
    
  









    


    


   




   





















    
    



    







   

   

    
    
    




    
    
    




    




        
    
    






    
           
    
        
       
        
        
       
        
        

        
    

   
    
    
    

    
    
   
    

    
    

    
    




            
        
        
        
            
            
            
            
        


    
    
       
        
        
       
    
       
    
    
        
        
        
       
        
        
        
    

    
    
   
    










    






    
    


    
   
    
    
    
    
    


    
    

    

    
   
    
    
   
        
    
    
  

    

    









    
    



    
    
    


    
       
       
        
    

    
    






    


